body {
            margin: 0;
            height: 100%;
            background-size: cover;
            font-weight: 700;
        }
        .rounded-img{
            width: 100%;
            border-radius: 50%;
        }
        .block {
            position: relative;
            overflow: hidden;
            padding-left: 50px;
            margin-left: 20px;
            background-color: #000;
            min-height: 140px;
            color: #004293;
            filter: invert(100%);
        }

            

            .legend-text {
            position: relative;
            
            
            color: #ffbd6c;
            mix-blend-mode: difference;
            z-index: 2;
        }
        .asimovian-regular {
            font-family: "Asimovian", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .font-fmm {
            font-family: "FreeMono", monospace;
        }
        .font-cm {
            font-family: Courier, monospace;
        }
        .font-test-1 {
            font-family: "Asimovian", sans-serif;
            font-weight: 400;
            font-style: normal;
        }

        .big-text {
            font-size : 50px
        }

        .biggest-text {
            font-size : 70px
        }

        .comfortaa {
        font-family: "Comfortaa", sans-serif;
        
        font-weight: 700;
        font-style : normal;
        }

        .square {
            width: auto;
            height: auto;
            background: rgb(243, 255, 198);
            border-top-right-radius: 90%;
        }

        .auto-text {
            width: 100%;
        }

        .image-container {
  position: relative; /* Контейнер становится "родительским" для позиционируемых элементов */
  display: inline-block; /* Или block, в зависимости от нужного поведения */
}

.image-container img {
  
  width: 100%; /* Или задайте нужную ширину */
  height: auto;
  position: relative;
  display: inline-block;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}

.snow {
    background-image: url("img/snowflake-1.png"), url("img/snowflake-2.png"), url("img/snowflake-3.png");
    height: 350%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    animation: snowflakes 10s linear infinite;
}

@keyframes snowflakes {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}